[Desktop Entry]
Name=QPass
Type=Application
Icon=qpass.png
Exec=qpass
Categories=Application;Network;Qt;
Terminal=false
GenericName=QPass password manager
Comment=QPass password manager
