[Desktop Entry]
Name=QPass
Type=Application
Icon=qpass
Exec=qpass
Categories=Network;Qt;
Terminal=false
Comment=Easy to use password manager
Comment[pl]=Prosty w użyciu menadżer haseł
